$light-orange: rgb(250,219,31);

.container {
  padding: 0;
  margin: 0;
  & li {
    list-style-type: none;
    cursor: pointer;
  }
  & .active {
    margin-right: 5px;
    background: $light-orange;
  }
}

.node {
  margin-left: 1rem;
}

.root > li {
  margin-left: 0;
}

.expandOpen .container {
  display: block;
}

.expandClose .container {
  display: none;
}