$light-orange: rgb(250,219,31);

.container {
  padding: 0;
  margin: 0;
}

.container li {
  list-style-type: none;
}

.node {
  margin-left: 1rem;
}

.root > li {
  margin-left: 0;
}

.expandOpen .container {
  display: block;
}

.expandClose .container {
  display: none;
}

.expandOpen, .expandClose {
  cursor: pointer;
}

.active {
  margin-right: 5px;
  background: $light-orange;
}